@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Merriweather:ital,wght@0,400;0,900;1,300;1,400&display=swap');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Merriweather', serif; */

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	background: white;
	overflow-x: hidden;
}

.section {
	position: relative;
	text-align: center;
	margin: 0;
	color: black;
	width: 100%;
}

.sectionBottom {
	height: 11vh;
}

#Events, #Contact {
	background: #f4f4f4;
}

h1, p {
	margin: 0;
}

.text-wr {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#Home, #section3, #section5 {
	background: white;
}

#section2, #section4 {
	background: #f4f4f4;
}

.nav {
	font-family: 'Lato';
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
  	background-color: #fff;
	box-shadow: 0 0 20px -3px #999;
	height: 11vh;
}

.navButton {
	padding: 0.8vh 2vw;
	border-radius: 7px;
	margin-right: 1vw;
	background: rgba(255, 255, 255, 0);
	text-decoration: none;
	color: rgb(0, 4, 72);
	font-weight: 700;
	font-size: min(24px, max(2.1vw, 12px));
}

#lastButton {
	margin-right: 3vw;
}

.navButton.active {
	background: #c9c9c9c9;
}

.navButton:not(a.active):hover {
	background: #eee;
}

.navLogo {
	margin-left: 1vw;
	width: 100%;
	height: auto;
}

.logoContainer {
	max-width: 18vh;
	height: 11vh;
}

footer {
	background-color:rgb(28, 30, 67);
	color: rgb(94, 107, 121);
	display: flex;
	height: 5rem;
	justify-content: center;
	align-items: center;
	font-style: italic; 
	box-shadow: 20px 15px rgb(28, 30, 67);
}

.splitContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 3%;
	margin-top: 1%;
	gap: 6%;
}

.sectionTitle {
	font-weight: 700;
	font-size: max(36px, min(50px, 6vw));
	padding: min(40px, 5%) 0;
}

/* Home */
#Home .innerSection {
	padding-top: 12vh;
}

.homePic {
	width: 40%;
	min-width: 200px;
	max-width: 300px;
	height: auto;
}

.electLogo {
	width: 50%;
	max-width: 400px;
	min-width: 200px;
	height: auto;
}

#Home h1 {
	/* here */
	margin-top: 0%;
	margin-bottom: 2%;
	/* here */
	font-family: 'Lato';
	font-size: min(45px, 5vw);
	font-weight: 700;
}

.bigBlurb {
	font-weight: 400;
	margin: 0 10%;
	line-height: 3vh;
	word-spacing: 3px;
	font-size: min(19px, 3vw);
}

/* About */
.blurb {
	font-weight: 400;
	margin: 0 10% 0 10%;
	line-height: 3vh;
	font-size: min(16px, 3vw);
}

.aboutContainer {
	display: flex;
}

.aboutSection { 
	display: flex;
	/* flex: 0.2; */
}

.boardsBlurb, .democraticBlurb, .businessBlurb {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 2% 5%;
	color: #333;
	text-align: left;
}

.businessBlurb h2, .democraticBlurb h2, .boardsBlurb h2 {
	padding: 0;
	font-size: min(24px, 4vw);
}


.boardsBlurb {
	align-self: flex-end;
	flex: 1;
}

#boardsBlurbSection {
	text-align: left;
	width: min(400px, 50vw);
	margin-right: 0;
	margin-left: auto;
}

#boardsImageSection {
	flex: 1;
}

.businessBlurb h2 {
	margin: -3% 0 1% 5%;
}

.boardsBlurb h2 {
	margin: 1% 0 1% 0;
}

.democraticBlurb h2 {
	margin: -1% 0 1% 5%;
	
}

.businessBlurb ul, .democraticBlurb ul, .boardsBlurb ul {
	list-style-type: '-  ';
	margin: 0;
	margin-left: 8%;
	padding: 0;
	line-height: 180%;
	color: #444;
	font-size: min(16px, 2.5vw);
}

.businessBlurb ul {
	width: 80%;
}


.container {
	display: flex;
}

/* Contact */

#section5 {
	line-height: 1;
}

#section5 .sectionTitle {
	font-weight: 400;
	padding-bottom: 2%;
	color: #444;
}


#contactText {
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1;
}


#contactSplitContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5%;
	width: 100%;
	margin: auto;
	padding: 1% 0 1% 0;
	line-height: 0;
}

#contactSplitContainer h2 {
	font-weight: 300;
}

#contactNumber {
	font-weight: 300;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

#contactEmail {
	font-weight: 300;
	font-size: 24px;
	margin: 0;
	padding: 1.5%;
	margin-bottom: min(40px, 5%);
}

hr {
	width: 80%;
	margin: min(30px, 3%) 10%;
}

/* Donate */

#donateButton {
	background-color: rgb(69, 87, 244);
	border-radius: 20px;
	color: white;
	padding: min(25px, 3vw);
	text-align: center;
	display: inline-block;
	margin-bottom: min(45px, 6%);
	text-decoration:none;
	font-weight: 400;
	font-size: min(28px, 4vw);
}

#donateButton:hover {
	background-color: rgb(57, 72, 210);
	color: #eee;
}

#mailDonationContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #444;

}

#mailDonationContainer h1 {
	font-size: max(24px, min(30px, 4vw));
	display: inline;
	padding: 0 6%;
	margin: 0;
	color: black;
}


#mailDescription {
	margin: 0.5% 0 1% 0;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
}

#donateAddressContainer {
	display: flex;
	justify-content: center;
	gap: 5%;
	margin-top: 2%;
	width: 100%;
}

#donateAddressContainer h2 {
	margin: 0;
	flex: 1;
	font-weight: 400;
	font-size: 20px;
}

.leftSide {
	text-align: right;
}

.rightSide {
	text-align: left;
}

#signedNote {
	margin: 0;
	margin-top: 0.5%;
	font-weight: 400;
	font-size: 16px;
	width: 70%;
	line-height: 1.4;
}

/* Events */
#section3 h2 {
	font-weight: 700;
	font-size: min(30px, 5vw);
	padding: 0;
	margin: 3% 0;
}

.eventsContainer {
	background-color: #eee;
	margin: 0 5%;
	padding: 0% 3% 1%;
	display: flex;
	flex-direction: column;
}

.event {
	background-color: white;
	box-shadow: 0 0 20px -10px #999;
	flex: 1;
	padding: 3% 4%;
	margin-bottom: min(25px, 4%);
	width: min(450px, max(50%, 300px));
}

.event h3 {
	margin: 0;
	margin-bottom: 2%;
	font-size: min(22px, max(2vw, 18px));
}

.eventDetails {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: min(25px, 5%);
	font-size: min(14px, max(1.6vw, 12px));
	gap: 1.5%;
}

.event li {
	text-align: left;
}

.eventDetails li{
	margin: 0 1%;
}

.event p {
	
	font-style: italic;
	color: #333;
	font-size: min(16px, max(1.6vw, 12px));
}

#previousEventsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#previousEventsCards {
	align-items: center;
	/* flex: 1 */
}

#previousEventsImages {
	flex: 1;
}

#previousEventsContainer img {
	width: min(500px, 70%);
	height: auto;
	margin-bottom: min(25px, 5%);
}


#upcomingEvents {
	align-items: center;
}

#Contact {
	height: 5vw;
}
